/* Main container */
.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.image-part,
.wording-part {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  user-select: none;
}

.image-container img {
  width: 650px;
}
.home-content {
  width: 900px;
}
.image-container img {
  border-radius: 100% 100% 100px 100px;
  filter: drop-shadow(var(--text-shadow));
}

.home-para {
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.home-para p {
  text-align: justify;
  line-height: 2rem;
}
.home-para-name {
  color: var(--color3);
  font-size: 1.5rem;
}
.home-exp {
  color: var(--darkColor);
  font-size: 1.3rem;
}

/* Home Button */

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.btn-Resume,
.btn-contact {
  width: 160px;
  height: 50px;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.5s ease;
}

.btn-Resume {
  background-color: var(--darkColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-contact {
  background-color: var(--darkColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-Resume button,
.btn-contact button {
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--snow);
  font-size: 0.9rem;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 0.5rem;
}

.btn-Resume :hover,
.btn-contact :hover {
  transform: scale(1.09);
}

.detail-part {
  width: 900px;
  margin-top: 2rem;
  color: var(--snow);
  padding: 1rem;
  border-radius: 100px;
  user-select: none;
  background-color: var(--color3);
  box-shadow: var(--text-shadow);
}
.detail-part ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.detail-part ul li {
  list-style: none;
}
.detail-part ul li div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-part ul li div p {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: var(--text-shadow);
}
.claim-counter,
.office-counter,
.software-counter {
  border-right: 2px solid var(--snow);
}

/* Mobile */
@media (max-width: 767px) {
  .image-container img {
    width: 100%;
  }
  .home-content {
    width: 100%;
  }
  .detail-part {
    width: 60%;
    border-radius: 20px;
  }

  .detail-part ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .claim-counter,
  .office-counter,
  .software-counter {
    border-right: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--snow);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .image-container img {
    width: 100%;
  }
  .home-content {
    width: 100%;
  }
  .detail-part {
    width: 60%;
    border-radius: 20px;
  }

  .detail-part ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .claim-counter,
  .office-counter,
  .software-counter {
    border-right: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--snow);
  }
}
