@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.burger-wrap {
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
}

.burger-container {
  width: 56px;
  height: 56px;
  background-color: var(--darkColor);
  background: #fa2a59;
  background: linear-gradient(
    116deg,
    rgba(250, 42, 89, 1) 34%,
    rgba(21, 73, 106, 1) 100%
  );
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.burger-container button {
  background-color: transparent;
  border: none;
  color: var(--snow);
}
.burger-icon svg {
  font-size: 45px;
  text-shadow: var(--text-shadow);
}

.menu-list {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-list li {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--snow);
  padding: 0.98rem;
}
.menu-list li a {
  display: block;
  text-decoration: none;
  color: var(--snow);
  width: 100%;
  height: 100%;
  text-align: center;

  text-shadow: var(--text-shadow);
}

.menu-list li:last-child {
  border: none;
}
