/* Nav Bar */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.nav-logo h3,
span {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  padding: 0.8rem 0;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-content {
  grid-column: span 4 / span 4;
}
.nav-logo {
  grid-column: span 4 / span 4;
  grid-column-start: 5;
}
.nav-contacts {
  grid-column-start: 9;
}

.nav-content {
  width: 100%;
  background: rgba(255, 255, 255, 0.15); /* Transparent white */
  backdrop-filter: blur(10px); /* Glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass edge */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.nav-menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--color2);
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 10px;
}
