@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color1: #3e1e68;
  --color2: #5d2f77;
  --color3: #e45a92;
  --color4: #ffacac;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.bg-hero {
  background-image: url(/src/assets/AdvBG1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
